{{ define "title" }}{{ .Title }}{{ end }}

{{ define "main" }}

  {{ if .Title }}
  <h2>{{ .Title }}</h2>
  {{ end }}

  <aside>
    <p>published on {{ .Date.Format "2006-01-02" }}

    {{ with .Params.tags }}
    · tagged with
      {{ $tags := sort . }}
      {{ range $index, $tag := $tags }}
        {{- if and (ne $index 0) (ne $index (sub (len $tags) 1)) }}, {{ end -}}
        {{- if and (eq $index (sub (len $tags) 1)) (ne $index 0) }} and {{ end }}
        <a href="/tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
      {{- end }}
    {{ end }}
    </p>
  </aside>

  {{ .Content }}

{{ end }}
