---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$serif : "Roboto Serif", Times, serif;
$sans-serif : Roboto, "Helvetica Neue", Arial, sans-serif;
$monospace : Consolas, Menlo, Monaco, monospace;

$global-font-family: $sans-serif;
$header-font-family: "Roboto Slab", $serif;
$caption-font-family: $serif;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
