{{ $name := .Get 0 }}
{{ if strings.Contains $name ".." }}
  {{ errorf "The %q shortcode does not allow %q paths for security reasons. Use paths from repo root or relative to the post. See %s" $.Name $name $.Position }}
{{ else }}
  {{ with $.Page.Resources.GetMatch $name }}
    {{ .Content }}
  {{ else }}
    {{ $fileContent := "" }}
    {{ if fileExists (path.Join "." $name) }}
      {{ $fileContent = readFile (path.Join "." $name) }}
    {{ else if fileExists (path.Join .Page.Dir $name) }}
      {{ $fileContent = readFile (path.Join .Page.Dir $name) }}
    {{ else }}
      {{ errorf "The %q shortcode could not find exhibit resource %q. See %s" $.Name $name $.Position }}
    {{ end }}
    {{ $fileContent | markdownify }}
  {{ end }}
{{ end }}
